# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.pyd
*.so

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/
ENV/
.env/

# OS files
.DS_Store
Thumbs.db

# VSCode / IDE
.vscode/
.idea/
